@model DogsApp.Mvc.Models.Dog[]
<!DOCTYPE html>
<html>
<head>
     <title>Dogs</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
</head>
<body>
    <ol>
        @foreach (var dog in Model)
        {
            <li>@dog.Name @dog.Age @dog.Id</li>
        }
        
    </ol>
    <a href="/create">Add Dog</a>
</body>
</html>